*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    max-height: 200vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header{
    background-color: rgb(36, 68, 116);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 3px rgba(0,0,0,4);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 40px;
    justify-content: space-between;
}

header .name{
    font-weight: bolder;
    font-size: 35px;
    color: rgb(230, 230, 230);
}

header .menu ul li{
    float: left;
}

header .menu ul li a{
    display: block;
    padding: 20px;
    padding-inline: 30px;
    font-size: 20px;
    color: rgb(255, 253, 255);
}

header .menu ul li a:hover{
    background: grey;
}



