*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    max-height: 200vh;
    /* background-image: url(images/mountain.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(22,33,24,255); */
}

.newpass{
    background-color: rgb(36, 68, 116);
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate(-50%);
    width: 400px;
    /* height: 560px; */
    color: white;
    border-radius: 30px;
    padding: 30px 40px;
    border: 6px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(20px);
}

.newpass h1{
    text-align: center;
    font-size: 40px;
}

.newpass .feedback{
    padding-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: -21px;
}

.newpass .text{
    position: relative;
    height: 60px;
    margin: 30px 0;
}
.text .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
}

.text input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 3px solid rgba(255,255,255,.4);
    border-radius: 40px;
    font-size: 15px;
    color: white;
    /* Padding på texten så den håller sig en bit från borders och inte går över ikonerna. */
    padding: 20px 45px 20px 20px;
}

/* Sätter färg på placeholder-texten. */
.text input::placeholder{
    color: white;
}

.btn{
    /* Storlek och sätter knappens färg. */
    width: 100%;
    height: 45px;
    background: white;
    /* Samma logik som för textrutorna. */
    outline: none;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 40px;
    /* Sätter en liten vit skugga som ger illusionen av att knappen står ut lite mer. */
    box-shadow: 0 0 10px rgba(0,0,0,4);
    /* Gör så att muspekaren blir en hand när den dras över knappen. */
    cursor: pointer;

    /* Sätter storlek på text och gör den lite transparent samt tjockare. */
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.login-link{
    font-size: 15px;
    /* Centrerar och justerar margin från login-knappen. */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-link a{
    /* Gör länken lite större än texten och ger newpass-länken samma stil som forgot password. */
    font-size: 17px;
    color: white;
    text-decoration: none;
}
/* Samma logik som för forgot password */
.login-link a:hover{
    text-decoration: underline;
}