<!DOCTYPE html>
<html lang="sv">
<head>
    <link href="{{ url_for('static', path='/header.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="header.css"> -->
    <link rel="icon" type="image/png" href="/static/images/bird_icon.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<header class="menucontainer">
    <p class="name">BetProject</p>
    <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </nav>
</header>
</body>
</html>