<!DOCTYPE html>
<html lang="sv">
<head>
    <link href="{{ url_for('static', path='/newpassword.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="icon" type="image/png" href="/static/images/bird_icon.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
{% if login %}
{% include 'headerlogin.html' %}
{% else %}
{% include 'header.html' %}
{% endif %}
<body>
    <div class="newpass">
        <form action="new_password" method="post">
            <h1>Enter new password</h1>
            <p class="feedback">{{feedback}}</p>
   
            <div class="text">
                <input type="password" name="newpassword" placeholder="Password" minlength="3" required>
                <img class="icon" src="{{ url_for('static', path='/images/iconmonstr-lock-2.svg') }}" alt="icon password">
            </div>

            <div class="text">
                <input type="password" name="passwordconfirm" placeholder="Confirm Password" minlength="3" required>
                <img class="icon" src="{{ url_for('static', path='/images/iconmonstr-lock-2.svg') }}" alt="icon password">
            </div>

            <button type="submit" class="btn">Confirm</button>
        </form>
    </div>
</body>
</html>