<!DOCTYPE html>
<html lang="sv">
<head>
    <link href="{{ url_for('static', path='/resetpassword.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="icon" type="image/png" href="/static/images/bird_icon.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
{% include 'header.html' %}
<body>
    <div class="reset">
        <form action="reset_password" method="post">
            <h1>Reset password</h1>
            <p class="feedback">{{feedback}}</p>
            <div class="text">
                <input type="text" name="email" placeholder="E-mail" spellcheck="false">
                <img class="icon" src="{{ url_for('static', path='/images/iconmonstr-email-4.svg') }}" alt="icon email">
            </div>           
            <button type="submit" class="btn">Send Email</button>
        </form>
    </div>
</body>
</html>